services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    volumes:
      - ./prisma:/app/prisma
      - ./src:/app/src
      - ./public:/app/public
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      DATABASE_URL: ${DATABASE_URL_DOCKER}
      NEXTAUTH_URL: ${NEXTAUTH_URL_DOCKER}
    depends_on:
      - db


volumes:
  db_data:
