@import "tailwindcss";

:root {
  --primary: #00aa2a
    /* #f3be00; */
  ;
  --primary-darker: #008100
    /* #e28000 */
  ;
  --background: #242738;
  --background-darker: #171219;
  --foreground: white;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);

  --color-background: var(--background);
  --color-background-darker: var(--background-darker);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background-darker);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}


.swal2-popup {
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
}

/* confirm */
.swal2-confirm {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.swal2-confirm:hover {
  background-color: var(--color-primary-darker) !important;
}

/* cancel */
.swal2-cancel {
  background-color: #ff6467 !important;
  color: white !important;
}

.swal2-cancel:hover {
  background-color: #fb2c36 !important;
}