@import "tailwindcss";

:root {
  --primary: #00aa2a/* #f3be00; */;
  --primary-darker: #008100 /* #e28000 */;
  --background: #242738;
  --background-darker: #171219;
  --foreground: white;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);

  --color-background: var(--background);
  --color-background-darker: var(--background-darker);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background-darker);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}